.todoList {
  padding: 10px;
  background: #292929;
  border-radius: 5px;
  width: 240px;
  color: #fff;
  user-select: none;

  &__title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }

  &__top {
    margin-bottom: 20px;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
  }

  &__input {
    width: 100%;
    padding: 2px 6px;
    border-radius: 2px;
    border: 1px solid rgba(86, 171, 108, 0.42);
    font-size: 16px;
    font-weight: 500;

    &:focus-visible {
      outline: auto 1px rgba(86, 171, 108, 0.42);
    }

    &.error {
      width: 100%;
      border: 1px solid red;
    }
  }

  &__buttonAdd {
    width: 25px;
    height: 25px;
    background: #FF9900;
    color: #ffffff;
    border-radius: 2px;
    flex-shrink: 0;

    cursor: pointer;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    transition: .2s;

    &:active {
      box-shadow: none;
      transform: scale(0.99);
    }
  }

  &__tasksList {
    margin-bottom: 30px;
  }

  &__taskItem {
    display: flex;
    align-items: center;
    gap: 6px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__deleteButton {
    margin-left: auto;
    width: 25px;
    height: 25px;
    cursor: pointer;

    background: #474747;
    color: #fff;
    transition: .4s;
    border-radius: 2px;

    &:hover {
      opacity: .8;
    }
  }

  &__filterButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
  }

  &__filterButton {
    background: #474747;
    color: #fff;
    transition: .4s;
    cursor: pointer;
    padding: 6px 4px;
    border-radius: 2px;

    &:hover {
      opacity: .8;
    }

    &.active {
      background: #FF9900;
    }
  }
}